
<%= form_with model: @user ,url: user_path(@user) do |form|%>
  <% if @user.errors.any?%>
    <%= @user.errors.full_messages do |msg| %>
      <li> <%= msg%></li>
    <% end %>
<% end %>
  <%= form.label :username%>
  <%= form.text_field :username %><br>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password%>
  <%= form.submit %>
<% end %>